# Dependencies
node_modules/
**/node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
.firebaserc

# Environment
.env
**/.env
.env.local
.env.*.local
.runtimeconfig.json

# Build output
dist/
build/
.expo/

# OS
.DS_Store
Thumbs.db

# Visual Paradigm
*.lck
.*.lck
*.bak_*
