VITE_FIREBASE_API_KEY=AIzaSyAdJp9gBOIvunXssLu2JJ3aEh5ZDzHHcPw
VITE_FIREBASE_AUTH_DOMAIN=gameon-9d876.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gameon-9d876
VITE_FIREBASE_STORAGE_BUCKET=gameon-9d876.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=900495301978
VITE_FIREBASE_APP_ID=1:900495301978:web:a7bc39ea4e5dfd1bd96763
